/* Global style */
*{
    box-sizing: border-box;
}
.preloader-body{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    padding: 0;
    margin: 0;
    font-family: pr,sans-serif;
    background-color: white;
}
body p{
    font-size: 14px;
    color: #424851;
}
a{
    font-size: 14px;
    text-decoration: none;
}
.container-main{
    margin: 0 auto;
    width: 90%;
}
.button{
    background-color: #ffab40;
}
.m-x{
    margin: 40px 0;
}
.space{
    margin: 100px 0;
}
.p-0{
    padding: 0 !important;
}
.m-0{
    margin: 0 !important;
}
.main-color{
    background-color: #3D195B !important;
}
.text-color{
    color: #3D195B;
}
.fblack{
    font-family: pblack;
}
.fbold{
    font-family: pbold;
}
/* font */
@font-face{
    font-family: pr;
    src: url('../font/Poppins-Regular.ttf');
}
@font-face{
    font-family: pblack;
    src: url('../font/Poppins-Black.ttf');
}
@font-face{
    font-family: pbold;
    src: url('../font/Poppins-Bold.ttf');
}
/* style */
nav{
    position: absolute;
    box-shadow:none;
}
.align-center{
    display: flex;
    align-items: center;
}
.back{
    display: flex;
    align-items: center;
}
.back img{
    height: 25px;
}
nav a{
    box-shadow:none;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
/* logo */
.brand-logo span{
    font-family: pbold;
    font-size: 24px;
}
/* banner */
.banner{
    background-image: url('../img/banner.jpg');
    width: 100%;
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    color: white;
    cursor: default;
}
.banner-side{
    height: 400px;
}
.banner h3{
    margin-bottom: 80px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    font-family: pblack;
}
/* about */
.about .row{
    display: flex;
    align-items: center;
    line-height: 28px;
}
.about .row h5{
    color: #3D195B;
    font-family: pbold;
    margin: 30px 0;
}
.img-primer{
    background-size: 100%;
}
/* bg */
.bg{
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: default;
    font-family: pbold;
}
/* newslater */
.form .row{
    display: flex;
    align-items: center;
}
.input-field input:hover{
    border-bottom: solid 1px #3D195B !important;
    box-shadow: 0 1px 0 0 #3D195B !important;
}
.input-field input{
    border-bottom: solid 1px #3D195B !important;
    box-shadow: 0 1px 0 0 #3D195B !important;
}
.tittle-ikuti{
    color: #3D195B;
    font-family: pblack;
}
.input-field{
    margin-top: 50px;
}
/* footer */
footer{
    line-height: 30px;
    background-color: rgba(61, 25, 91, 0.8) !important;
}
footer .row{
    display: flex;
    align-items: center;
}
/* copy */
.copy{
    text-align: center;
    background-color: #3D195B;
}
.copy p{
    font-size: 12px;
    margin: 0;
    padding: 20px;
    color: white;
}
/* Page Teams */
.teams{
    background-color: rgba(0, 0, 0, 0.08);
    padding: 80px 0;
}
.teams h5{
    margin: 100px 0;
    padding: 20px 0;
    background-color: white;
    color: #3D195B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.teams-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    border-bottom: 5px solid #3D195B;
    border-top: 5px solid #3D195B;
    transition: ease-in-out 200ms;
    margin: 0 20px;
    margin-bottom: 50px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teams-box:hover{
    transform: scale(1.02);
}
.teams img{
    background-size: 100%;
    width: 50%;
    max-height: 250px;
}
.teams p{
    font-family: pbold;
    font-size: 24px;
}
.btn-more{
    background-color: #3D195B;
    border: none;
    color: white;
    font-family: pr;
    padding: 10px 30px;
    cursor: pointer;
    transition: ease-in-out 100ms;
}
.btn-more a{
    color: white;
}
.btn-more:hover{
    background-color: rgba(61, 25, 91, 0.8);
}
/* page detail */
.detail{
    padding: 100px 0;
}
.detail .row{
    display: flex;
    align-items: center;
}
.img-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail .img-detail img{
    background-size: 100%;
    max-height: 300px;
}
.info-detail{
    background-color: white;
    border-radius: 10px;
    padding: 20px 0 !important;
    padding-left: 30px !important;
}
.info-detail .lahir{
    background-color: #3D195B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: pbold;
}
.info-detail img{
    background-size: 100%;
    width: 25px;
    margin-right: 20px;
}
.info-detail p{
    display: flex;
    align-items: center;
}
/* squad */
.squad{
    margin-top: 100px;
}
.tittle-squad{
    background-color: #3D195B;
    border: 5px solid white;
    color: white;
    font-family: pbold;
    padding: 20px 0;
    margin-bottom: 50px;
}
.player{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding-right: 30px;
}
.player-box{
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 50px;
}
.player span{
    padding-left: 20px;
}
/* standing */
.standing{
    background-image: url(../img/bg.jpg);
    padding: 100px 0;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
}
.standing-tables{
    background-color: white;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.sidenav{
    background-color: rgba(0, 0, 0, 0.9) !important;
}
.tombol{
    transition: 200ms ease-in-out;
}
.tombol:hover{
    transform: scale(1.03);
}
/* tombol delete */
.fixed-delete{
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
    display: none;
}
/* responsive */
@media screen and (max-width:900px){
    .banner{
        height: 300px;
        text-align: center;
        background-size: initial;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
    .banner h3{
        font-size: 2em;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px 0;
        font-family: pbold;
    }
    .about .row{
        display: initial;
        align-items: initial;
    }
    .about .row .center{
        margin-bottom: 50px;
    }
    .bg{
        height: 200px;
        background-attachment: initial;
    }
    .bg h5{
        font-size: 1.2em;
    }
    .form .row{
        display: initial;
        align-items: initial;
        text-align: center;
    }
    .form{
        margin: 50px 0;
    }
    footer .row {
        display: initial;
        align-items: initial;
    }
    .img-primer {
        background-size: 100%;
        width: 80%;
    }
    /* teams */
    .teams p{
        font-size: 1.2em;
    }
    .teams-box{
        height: 350px;
    }
    .standing td,.standing th,.standing a{
        font-size: 12px;
    }
    .detail .row {
        display: initial;
        align-items: initial;
        text-align: center;
    }
    .info-detail p{
        justify-content: center;
    }
    .info-detail{
        padding-left: 0 !important;
        margin-top: 50px;
    }
}